
.nav-item:hover, .nav-link:hover {
    color: white;
    cursor: pointer;
}

.nav-item {
    position: relative;
    margin-left: 10px;
}

.nav i {
    position: absolute; top: 12px;
}
.nav-link {
    color: hsla(0,0%,100%,.5);
    margin-left: 3px;
    font-size: 16px !important;
}


#info-admin {
    color: white;
    margin-top: 6px;
    font-size: 18px;
}

.footer div {
    padding-top: 15px
}